@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    h1 {
        @apply text-4xl md:text-6xl border-b-2 border-black border-solid py-4;
    }
    
    h2 {
        @apply text-lg font-bold;
    }

    .cta {
        @apply bg-green-400 shadow-sm hover:shadow-md text-white rounded-md py-2 px-4
    }

    .burger {
        position: absolute;
        right: 5%;
        background: white;
        color: black;
        padding: 1rem;
        width: 90%;
        border-radius: 0.375rem;
        @apply shadow-md;
    }

    .logo {
        max-width: 100px;
    }
}