@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background: #f5f7fb;
}

@layer base {
    h1 {
        @apply text-4xl;
    }
    
    h2 {
        @apply text-lg font-bold;
    }

    .burger {
        position: absolute;
        right: 5%;
        background: white;
        color: black;
        padding: 1rem;
        width: 90%;
        border-radius: 0.375rem;
        @apply shadow-md;
    }
}