@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	h1 {
		@apply text-4xl text-center md:text-6xl border-b-2 border-black border-solid py-4;
	}

	h2 {
		@apply text-2xl font-bold;
	}

	.logo {
		max-width: 100px;
	}

	/* NUXT CONTENT */
	.nuxt-content h2 {
		@apply text-3xl;
	}
}
