@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	font-family: 'Poppins', sans-serif;
}

p {
	font-family: 'Open Sans', sans-serif;
}

@layer base {
	h1 {
		@apply text-3xl md:text-4xl text-center border-b-2 border-black border-solid py-4;
	}

	h2 {
		@apply text-2xl;
	}

	h3 {
		@apply text-xl;
	}

	.logo {
		max-width: 100px;
	}

	.product-img {
		max-width: 50px;
		@apply rounded-md;
	}

	.cta {
		@apply py-1 px-8 bg-green-400 rounded-md hover:shadow-md;
	}

	/* NUXT CONTENT */
	.nuxt-content h2 {
		
	}
}
