@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	font-family: "Poppins", sans-serif;
}

p {
	font-family: "Open Sans", sans-serif;
}

@layer base {
	h1 {
		@apply text-3xl md:text-4xl text-center py-4;
	}

	h2 {
		@apply text-xl md:text-2xl;
	}

	h3 {
		@apply text-lg md:text-xl;
	}

	.logo {
		max-width: 100px;
	}
	
	.cta {
		@apply py-1 px-8 bg-green-400 rounded-md hover:shadow-md;
	}

	/* NUXT CONTENT */
	.nuxt-content h2 {
		@apply my-4;
	}

	.nuxt-content p {
		@apply my-2;
	}
}
